@import "assets/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.navbar-app {
  height: $navbar-app-height;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: $gap;
  background-color: $appbar-bg-color;
  position: relative;
  .navbar-app-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    .navbar-app-icon {
      background-color: hsla(0, 0%, 100%, 0.24);
      color: white;
      font-size: 18px;
      padding: 8px 10px;
      border-radius: 5px;
      display: flex;
      gap: 10px;
      cursor: pointer;

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.34);
      }
    }
    .input-board {
      .react-select__loading-indicator {
        color: white;
      }
      .react-select__menu {
        margin-top: 5px;
        font-size: 15px;
        padding: 0;
        cursor: pointer;
      }
      .react-select__single-value {
        color: white;
      }
      .react-select__placeholder {
        color: white;
        font-size: 14px;
      }
      .react-select__input-container {
        .react-select__input:focus {
          border: none !important;
          text-decoration: none;
        }
      }
      .css-26l3qy-menu {
        z-index: 999999;
      }
      .css-1s2u09g-control {
        max-width: 300px;
        min-width: 300px;
        background-color: hsla(0, 0%, 100%, 0.34) !important;
        border: none;
        min-height: 35px;
        max-height: 35px;
        color: white;
        background-image: url("../../assets/images/icon-search.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 98% 50%;
        transition: none;
      }
      .css-1pahdxg-control {
        max-width: 300px;
        min-width: 300px;
        background-color: hsla(0, 0%, 100%, 0.34) !important;
        border: none;
        min-height: 35px;
        max-height: 35px;
        .css-1pndypt-Input {
          color: white;
        }
      }
    }
  }
  .navbar-app-trello {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Dancing Script", cursive;
  }
}
