@import "assets/variable.scss";

.navbar-board {
  height: $navbar-board-height;
  padding-left: $gap;
  background-color: $board-bg-color;
  text-align: center;
  line-height: 6vh;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  
}
