@import "assets/variable.scss";

.board-content {
  height: $board-content-height;
  color: #333;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($list-bg-color, 15);
    border-radius: 5px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
}
