@import "assets/variable.scss";

.board-content {
  height: $board-content-height;
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($column-bg-color, 15);
    border-radius: 5px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .add-new-column {
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    width: 250px;
    min-width: 250px;
    color: white;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, 0.24);
    &:hover {
      cursor: pointer;
      background-color: hsla(0, 0%, 100%, 0.4);
    }
    i {
      margin-right: 10px;
    }
  }
  .form-add-new-column {
    width: 250px;
    background-color: $column-bg-color;
    padding: 10px 10px;
    border-radius: 5px;
    .input-column {
      line-height: 28px;
      &:focus {
        border: 1px solid $border-input-color;
      }
    }
  }
  .btn-and-cancel {
    margin-top: 10px;
    .cancel {
      font-size: 18px;
      margin-left: 15px;
      color: $color-danger;
      &:hover {
        cursor: pointer;
        color: darken($color-danger, 10);
      }
    }
  }
}
