//colors
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$column-bg-color: #ebecf0;
$main-text-color: #333;
$color-danger: #ee5253;
$border-input-color: #0079bf;
//gap
$gap: 10px;

$navbar-app-height: 7vh;
$navbar-board-height: 7vh;
$board-content-height: 93vh;
